{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/Nav.css' %}">
</head>

<body>
    {% comment %} navbar para pc´s {% endcomment %}
    <nav>
        <div class="logo">XIRYS M.</div>
        <ul class="menu">
            <li class="items"><a href="#">Inicio</a></li>
            <li class="items"><a href="#">Gestión Paciente<i class='bx bx-chevron-down'></i></a>
                <ul class="sub-menu"> 
                    <li class="sub-menu-items"><a href="#">Crear Paciente</a></li>
                    <li class="sub-menu-items"><a href="#">Listar Paciente</a></li>
                </ul>
            </li>
            <li class="items"><a href="#">Historia Clinica</a></li>
            <li class="items"><a href="#">Agenda Virtual</a></li>
            <li class="items"><a href="#">Salir</a></li>
        </ul>
    </nav>
    {% comment %} navbar para dispositivos moviles {% endcomment %}
    <div class="navigation">
        <ul class="nav-list">
            <li class="list-item active">
                <a href="#" class="nav-link">
                    <span class="icon"><i class='bx bx-home'></i></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="nav-link">
                    <span class="icon"><i class='bx bx-user'></i></span>
                    <span class="text">G.Paciente</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="nav-link">
                    <span class="icon"><i class='bx bx-file'></i></span>
                    <span class="text">H.Clinica</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="nav-link">
                    <span class="icon"><i class='bx bx-calendar'></i></span>
                    <span class="text">A.VIrtual</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="nav-link">
                    <span class="icon"><i class='bx bx-log-out'></i></span>
                    <span class="text">Salir</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
</body>
<script>
    const show = document.querySelectorAll('.bx');
    const subMenu = document.querySelectorAll('.sub-menu');

    for (let i = 0; i < show.length; i++) {
        show[i].addEventListener('click', function(){
            if(subMenu[i].classList.contains('show')){
                subMenu[i].classList.remove('show');
            }else{
                subMenu[i].classList.add('show');
            }
        });
    }


    const listItems = document.querySelectorAll('.list-item');

    function activateLink() {
        listItems.forEach((item) => {
            item.classList.remove('active');
        });
        this.classList.add('active');
    }
    
    listItems.forEach((item) => {
        item.addEventListener('click', activateLink);
    });
</script>